In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from supervised.automl import AutoML

In [2]:
import supervised
print(supervised.__version__)

0.5.1

In [3]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv",
    skipinitialspace=True,
)

X_train, X_test, y_train, y_test = train_test_split(
    df[df.columns[:-1]], df["income"], test_size=0.25
)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
X_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
5514,33,Local-gov,198183,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States
19777,36,Private,86459,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,50,United-States
10781,58,Self-emp-not-inc,203039,9th,5,Separated,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
32240,21,Private,180190,Assoc-voc,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,46,United-States
9876,27,Private,279872,Some-college,10,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States

In [6]:
y_train.head()

5514      >50K
19777     >50K
10781    <=50K
32240    <=50K
9876     <=50K
Name: income, dtype: object

In [7]:
X_train.shape, X_test.shape

((26048, 14), (6513, 14))

In [8]:
automl = AutoML() # total train limit = 1 hour
automl.fit(X_train, y_train)

Create directory AutoML_1
AutoML task to be solved: binary_classification
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will optimize for metric: logloss
1_Baseline final logloss 0.5519845471086654 time 0.08 seconds
2_DecisionTree final logloss 0.3655910192804364 time 10.28 seconds
3_Linear final logloss 0.38139916864708445 time 3.19 seconds
4_Default_RandomForest final logloss 0.2975204390214936 time 79.19 seconds
5_Default_Xgboost final logloss 0.2731086827200411 time 5.17 seconds
6_Default_NeuralNetwork final logloss 0.319812276905242 time 21.19 seconds
Ensemble final logloss 0.2731086821194617 time 1.43 seconds

In [9]:
prediction = automl.predict(X_test)

In [10]:
prediction.head()

   prediction_<=50K  prediction_>50K  label
0          0.992779         0.007221  <=50K
1          0.690751         0.309249  <=50K
2          0.337140         0.662860   >50K
3          0.973381         0.026619  <=50K
4          0.971929         0.028071  <=50K

In [11]:
prediction.tail()

      prediction_<=50K  prediction_>50K  label
6508          0.993629         0.006371  <=50K
6509          0.525613         0.474387   >50K
6510          0.000553         0.999447   >50K
6511          0.993155         0.006845  <=50K
6512          0.997639         0.002360  <=50K

In [12]:
X_test.shape

(6513, 14)

In [13]:
prediction.shape

(6513, 3)

In [14]:
y_test.shape

(6513,)

In [15]:
accuracy_score(y_test, prediction["label"])

0.8676493167511131